<h1>Новая фоточка</h1>
----

<a href="<%= @photo.photo %>"><img src="<%= @photo.photo %>" class = "img-thumbnail" alt="new photo"/></a>


----------------------

<h3>Событие: <%= @event.title %></h3>
<h4>Состоится: <%= l @event.datetime %></h4>
<h4>Организатор: <%= @event.user.name %></h4>